
#BlackBox {
    position: fixed;
    bottom: 300px;
    right: 300px;
    width: 300px;
    height: 300px;
    background-color: red; 
}

#gameBackdrop {
    background-image: url('../images/desert.jpg');
    width:960px;
    height:450px;
}

.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    margin-bottom: 3rem;
}

.navigation-title{
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

label {
    padding: .6rem;
}
/* #caterpillar {
    background-image: url('./images/caterpillar.svg');
    width:96px;
    height:45px;
} */